{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:gbay_locations' %}">G</a>
            </div><div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:c_locations' %}">C</a>
            </div>
            <div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:b_locations' %}">B</a>
            </div><div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:cc_locations' %}">CC</a>
            </div>
            <div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:bph_locations' %}">BPH</a>
            </div>
            <div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:cph_locations' %}">CPH</a>
            </div>
            <div class="col-sm3 p-3">
                <a class="p-3 btn-sm btn btn-primary" href="{% url 'locations:nwr_locations' %}">NWR</a>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}