<!-- /locations/templates/locations/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid mt-4">
        <h3 class='text-center'>ALRO NWR</h3>
    </div>
    <div class="container-fluid">
        <form>
            <div class="row">
                <div class="col">
                    <input name="contains_col" type="number" class="form-control" placeholder="Col...">
                </div>
                <div class="col">
                    <input name="contains_row" type="number" class="form-control" placeholder="Row...">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block m-3">Search</button>
            </div>
        </form>
    </div>
    {% for location in qs.all %}
        <div class="row text-center m-3">
            <div class="container-fluid col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card">
                <img src="{{ location.barcode.url }}" alt="{{ location.name }}">
            </div>

        </div>
    {% endfor %}


{% endblock content %}