<h4 class="text-center">CT {{ order.ct }}</h4>
<img class="pt-2" width="100%" src="{{ order.ct_barcode.url }}" alt="{{ order.ct }}">
<h4 class="text-center">RT {{ order.rt }}</h4>
<img class="pt-2" width="100%" src="{{ order.rt_barcode.url }}" alt="{{ order.rt }}">
<h4 class="text-center">{{ order.saw|upper }}</h4>
<img class="pt-2" width="100%" src="{{ order.saw_barcode.url }}" alt="{{ order.saw }}">
<h4 class="text-center">{{ order.bin_name }}</h4>
<img class="pt-2" width="100%" src="{{ order.bin_barcode.url }}" alt="{{ order.bin_name }}">