{% load icons %}
<div class="accordion" id="alro-orders">
    <div class="card">
        <div class="card-header
            {% if order.wave == "cc" or order.wave == "ups" %}
                    bg-default
                    {% elif order.wave.name == "1st" %}
                    bg-success
                    {% elif order.wave.name == "2nd" %}
                    bg-warning
                    {% elif order.wave.name == "3rd" %}
                    bg-primary
                    {% elif order.wave.name == "4th" %}
                    bg-danger
                    {% endif %}
                    " id="headingOne-{{ order.pk }}"  data-toggle="collapse" data-target="#collapseOne-{{ order.pk }}">
            <h2 class="mb-0">
                <button class="btn btn-link"
                        {% if order.wave.name == "cc" or order.wave.name == "ups" %}
                        style="text-decoration: none; color: black"
                        {% else %}
                        style="text-decoration: none; color: white"
                        {% endif %}
                        type="button" data-toggle="collapse" data-target="#collapseOne-{{ order.pk }}"
                        aria-expanded="true" aria-controls="collapseOne-{{ order.pk }}">
                    CT {{ order.ct }} - {{ order.bin_name }}<br>{{ order.wave.name|upper }} - {{ order.wave.ship_time }}
                    <br>{{ order.saw }}
                </button>
            </h2>
        </div>

        <div id="collapseOne-{{ order.pk }}" class="collapse" aria-labelledby="headingOne-{{ order.pk }}"
             data-parent="#alro-orders">
            <div class="card-body">
                <div class="col-sm12 col-lg4">
                    <a href="{% url 'orders_lite:order_delete' slug=order.slug %}" class="btn btn-danger">{% icon 'trash' %}</a>
                    <a href="{% url 'orders_lite:order_edit' slug=order.slug %}" class="btn btn-success">{% icon 'edit' %}</a>
                    <a href="{% url 'orders_lite:order_detail' slug=order.slug %}" class="btn btn-primary">{% icon 'eye' %}</a>
                    {% include "orders_lite/components/order_barcode_group.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
