{% load icons %}

<div class="row">
    <a href="{% url 'orders:order_edit' slug=order.slug %}" class="m-1 btn bg-transparent">CT{{order.ct}}</a>
    <a type="button" class="m-1 btn bg-transparent">{{order.location_name}}</a>
    <a href="{% url 'orders:order_delete' slug=order.slug %}" class="m-1 btn bg-danger"> <i class="fas fa-trash"></i> </a>
    <img src="{{ order.barcode.url }}" alt="">
</div>
