{% load icons %}
<div class="col-12 table-responsive-sm">
    <table class="table table-sm table-responsive">
        <thead>
            <tr>
                <th>CT Number</th>
                <th>{% icon 'barcode' %}</th>
                <th>RT Number</th>
                <th>{% icon 'barcode' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CT{{order.ct}}</td>
                <td><a href="" class="btn btn-sm btn-warning">{% icon 'barcode' %}</a></td>
                <td>RT{{order.ct}}</td>
                <td><a href="" class="btn btn-sm btn-warning">{% icon 'barcode' %}</a></td>
            </tr>
        </tbody>
    </table>
</div>

