<div class="col-12 table-responsive-sm">
    <table class="table table-sm table-responsive">
        <thead>
            <tr>
                <th>Thickness</th>
                <th>Width</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Cut Sq-in</th>
                <th>Cross-cut Sq-in</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order.thickness}}</td>
                <td>{{order.width}}</td>
                <td>{{order.length}}</td>
                <td>{{order.weight|floatformat:0}} lbs.</td>
                <td>{{order.weight|floatformat:0}} lbs.</td>
                <td>{{order.weight|floatformat:0}} lbs.</td>
            </tr>
        </tbody>
    </table>
</div>

