<!-- /accounts/templates/accounts/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5">
    <h3 class='text-center'>Guest</h3>
</div>
<div class="container-fluid text-center">
    <a href="{% url 'accounts:register_view' %}" class="mb-2 col-sm-2 btn btn-primary">Register</a>
    <a href="{% url 'accounts:login_view' %}" class="mb-2 col-sm-2 btn btn-primary">Login</a>
</div>
{% endblock content %}
