{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center">Account Login</h3>
    <form action="{% url 'accounts:login_view' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if request.GET.next %}
            <input type="hidden" value="{{ request.GET.next }}">
        {% endif %}
        <br>
        <input class="col-sm-2 btn btn-primary" type="submit" value="Login">
    </form>
</div>
{% endblock content %}
