{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-3">
    <h3 class="text-center">{{user.first_name}} {{user.last_name}}'s Profile</h3>
</div>
<div class="container-fluid text-center">
<a href="{% url 'home' %}" class="btn btn-primary">Check Messages</a>
</div>
<div class="container-fluid">
<h3 class="text-center">Employee Number</h3>

<img src="" alt="">
</div>
<div class="container-fluid">
    <div class="container-fluid row">
        <div class="ml-4 col-sm-12 col-md-6 col-lg-3 card mt-3 pt-2">
        <h3 class="text-center"><span>{{ user.first_name }} {{user.last_name}}</span></h3>
        <h5 class="text-center">Employee #: 
        <button type="button" class="btn btn-primary btn-small p-1" data-toggle="modal" data-target="#employee_number{{ user.employee_number }}">
  Show
</button>
        </h5>
        <h5 class="text-center">G-South Crane #: 
        <button type="button" class="btn btn-primary btn-small p-1" data-toggle="modal" data-target="#crane20758">
  Show
</button>
        </h5>
    </div>
    </div>
</div>

<!-- Button trigger modal -->


<!-- EMPLOYEE NUMBER Modal -->
<div class="modal fade" id="employee_number{{ user.employee_number }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{user.first_name}} {{user.last_name}} ({{ user.profile.employee_number }})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="../../../media/employee_number/Lee%20Laing.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary p-1" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- CRANE NUMBER Modal -->
<div class="modal fade" id="crane20758" tabindex="-1" role="dialog" aria-labelledby="crane20758Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crane20758Title">{{user.first_name}} {{user.last_name}} (20758)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img width="100%" src="../media/inspections/crane-20758.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary p-1" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
