{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center pb-5">Register New Account</h3>
    <form action="{% url 'accounts:register_view' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <input class="col-sm-2 btn btn-primary" type="submit" value="Register">
    </form>
</div>
{% endblock content %}
