// /locations/static/locations/css/locations.sass
$main_color: orange

*, *::before, *::after
    padding: 0
    margin: 0
    box-sizing: border-box

body
    width: 100%
    nav
        background-color: $main_color

@media only screen and (max-width: 600px)

@media only screen and (min-width: 600px)

@media only screen and (min-width: 768px)

@media only screen and (min-width: 992px)

@media only screen and (min-width: 1200px)
