<!-- /orders_lite/templates/orders_lite/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load admin_urls %}
{% load humanize %}
{% load icons %}
{% load orders_lite_tags %}

{% block content %}
    <div class="container-fluid pt-3">
        <h3 class='text-center'>Orders ({{ order_count }})</h3>
        {% orders_lite_links 'list' 'orders_lite:home' 'Order List' %}
        {% orders_lite_links 'plus' 'orders_lite:order_create' 'Add Order' %}
    </div>
    <div class="container-fluid pt-3">
        {% for order in orders %}
            {% if order.wave.name == "ups" and not order.pulled %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}
            {% if order.wave.name == "cc" and not order.pulled %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "1st" and not order.pulled %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "2nd" and not order.pulled %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "3rd" and not order.pulled %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "4th" and not order.pulled %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}
            </ul>
        {% endfor %}
    </div>

    <h3 class="text-center pt-5">Picked
    {% if picked_count > 0 %}
    {{ picked_count }}
    {% endif %}

    </h3>
    <div class="container-fluid pt-3">
        {% for order in orders %}
            {% if order.wave.name == "cc" or order.wave.name == "ups" and order.picked and not order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "1st" and order.pulled and not order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "2nd" and order.pulled and not order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "3rd" and order.pulled and not order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "4th" and order.pulled and not order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}
            </ul>
        {% endfor %}
    </div>
    <h3 class="text-center pt-5">Delivered ()</h3>
    <div class="container-fluid pt-3">
        {% for order in orders %}
            {% if order.wave.name == "cc" or order.wave.name == "ups" and order.picked and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "1st" and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "2nd" and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "3rd" and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "4th" and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}
            </ul>
        {% endfor %}
    </div>

    <h3 class="text-center pt-5">Stock Bars Ran</h3>
    <div class="container-fluid pt-3">
        {% for order in orders %}
            {% if order.wave.name == "cc" or order.wave.name == "ups" and order.stock_ran and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "1st" and order.stock_ran and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "2nd" and order.stock_ran and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "3rd" and order.stock_ran and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}

            {% if order.wave.name == "4th" and order.stock_ran and order.pulled and order.delivered %}
                {% include "orders_lite/components/order_accordion.html" %}
            {% endif %}
            </ul>
        {% endfor %}
    </div>
{% endblock content %}
