{% extends 'base.html' %}
{% load static %}
{% load icons %}
{% load orders_lite_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="container-fluid">
        <h3 class="text-center">Create New Order</h3>
        <div class="text-center">
            {% orders_lite_links 'list' 'orders_lite:home' 'Order List' %}
        </div>
        <form action="{% url 'orders_lite:order_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary btn-sm mb-5" type="submit">Save Order</button>
        </form>
    </div>
{% endblock content %}
