{% extends 'base.html' %}
{% load static %}
{% load icons %}
{% load orders_lite_tags %}

{% block content %}
    <div class="container">
    <div class="text-center">
        {% orders_lite_links 'list' 'orders_lite:home' 'Order List' %}
        {% orders_lite_links 'plus' 'orders_lite:order_edit' 'New Order' %}
    </div>
        <a href="{% url 'orders_lite:order_edit' slug=instance.slug %}" class="mt-2 btn btn-success">{% icon 'edit' %}</a>
        <a href="{% url 'orders_lite:home' %}" class="mt-2 btn btn-primary">{% icon 'list' %}</a>
        
        <div>CT{{instance.ct}}</div>
        <div>RT{{instance.rt}}</div>
        <img src="{{ instance.rt.barcode.url }}" alt="Default">
    </div>
{% endblock content %}
