{% extends 'base.html' %}
{% load static %}
{% load icons %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
<form action="." method="post">
{% csrf_token %}
<h4>Please confirm you want to delete "CT{{ instance.ct }}"?</h4>
    <div class="col-4 form-group">
        <label class="col-sm-12 col-form-label">Length</label>
        {% render_field form.length class="form-control" %}
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Yes, Delete CT{{ instance.ct }}</button>
</form>
</div>
{% endblock content %}
