{% extends 'base.html' %}
{% load static %}
{% load icons %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center">Duplicate Order</h3>
    <form action="{% url 'orders_lite:order_duplicate' slug=instance.slug %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
            <div class="form-group col-12">
            <label class="col-sm-12 col-form-label">Priority</label>
            {% render_field form.new_wave class="form-control" %}
        </div>
        <div class="row">
            <div class="form-group col-6">
            <label class="col-sm-12 col-form-label">CT Number</label>
            {% render_field form.ct class="form-control" %}
        </div>
        <div class="form-group col-6">
            <label class="col-sm-12 col-form-label">RT Number</label>
            {% render_field form.rt class="form-control" %}
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 col-form-label">Location Type</label>
            {% render_field form.location_type class="form-control" %}
        </div>
        <div class="row">
        <div class="form-group col-4">
            <label class="col-sm-12 col-form-label">Isle number</label>
            {% render_field form.bin_isle class="form-control" %}
        </div>
        <div class="form-group col-4">
            <label class="col-sm-12 col-form-label">Column number</label>
            {% render_field form.bin_column class="form-control" %}
        </div>
        <div class="form-group col-4">
            <label class="col-sm-12 col-form-label">Row number</label>
            {% render_field form.bin_row class="form-control" %}
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 col-form-label">Material</label>
            {% render_field form.steel_type class="form-control" placeholder="Steel name..." %}
        </div>
        <div class="row">
            <div class="col-4 form-group">
            <label class="col-sm-12 col-form-label">Thickness</label>
            {% render_field form.thickness class="form-control" %}
        </div>
        <div class="col-4 form-group">
            <label class="col-sm-12 col-form-label">Width</label>
            {% render_field form.width class="form-control" %}
        </div>
        <div class="col-4 form-group">
            <label class="col-sm-12 col-form-label">Length</label>
            {% render_field form.length class="form-control" %}
        </div>
        </div>
        </div>
        <button class="btn btn-primary btn-sm mb-5" type="submit">Save Order</button>
    </form>
</div>
{% endblock content %}
