{% extends 'base.html' %}
{% load static %}
{% load icons %}
{% load widget_tweaks %}
{% load orders_lite_tags %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center">Edit Order</h3>
    <div class="text-center">
        {% orders_lite_links 'list' 'orders_lite:home' 'Order List' %}
    </div>
    <form action="{% url 'orders_lite:order_edit' slug=instance.slug %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm mb-5" type="submit">Save Order</button>
    </form>
</div>
{% endblock content %}
