{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<div class="jumbotron">
    <span><a class="btn btn-primary btn-sm" href="#current_messages" role="button">Messages</a></span>
    <span><a class="btn btn-primary btn-sm" href="{% url 'accounts:profile_view' %}" role="button">Profile</a></span>
  <h1 class="display-5">Welcomes back to ALRO Messages!</h1>
  <p class="lead">Good Afternoon {{user.first_name}}. Team Alro is glad to see you today and we personally want to thank you for all your hard work in meeting our team's goals!</p>
  <hr class="my-4">
  <p>Have a wonderful shift and day and please contact your shift supervisor for any issues or questions you may have while working today.</p>
  
</div>
<div id="current_messages" class="container-fluid">
    <div class="card m-2">
        <h3 class="text-center">Current Messages</h3>
        <div class="card m-3" style="width: 88%;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Reply</a>
                <a href="#" class="card-link">Mark as Read</a>
            </div>
</div>
    </div>
</div>
{% endblock content %}
