{% load static %}
{% load icons %}
{% load account_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  {% navbar_brand_link 'home' %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">{% icon 'home' %}</a>
      </li>
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'orders:home' %}">Orders</a>#}
{#      </li>#}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'orders_lite:home' %}">Orders LITE</a>
        </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'locations:home' %}">Locations</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if not user.is_authenticated %}
          <a class="dropdown-item" href="#">Register</a>
          <a class="dropdown-item" href="{% url 'accounts:login_view' %}">{% icon 'sign-in-alt' %} Login</a>
          <div class="dropdown-divider"></div>
          {% else %}
          <a class="dropdown-item" href="{% url 'accounts:profile_view' %}">Profile</a>
          <div class="dropdown-divider"></div>
          <form action="{% url 'accounts:logout_view' %}" method="POST">
          {% csrf_token %}
            <button class="dropdown-item" type="submit">{% icon 'sign-in-alt' %} Logout</button>
          </form>
          {% endif %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">{% icon 'user-lock' %} Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
